.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    &__side {
        background-color: orangered;
        color: blanchedalmond;
        height: 50rem;
        font-size: 2rem;
        transition: all .8s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        &--front {
            background-color: orchid;
        }

        &--back {
            background-color: blue;
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(-180deg);
    }
}